*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;

}
body{
    background: #000;
    color: #fff;
    

}
.header{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.7)),url(Screenshot\ \(140\).png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 10px 8%;
    position: relative;
    overflow: hidden;
    

}
nav{
    display: flex;
   justify-content: space-between;
   padding: 10px 0px;
   
   
    
    
    
}
.logo{
    width: 150px;
    cursor: pointer;
}
nav button{
   border: 0;
   outline: 0;
   
   background: #db0001;
   color: #fff;
   padding: 7px 20px;
   font-size: 12px;
   border-radius: 4px;
   
   margin-left: 30px;
   cursor: pointer;
}
 .header-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    margin-top: 100px;

 }
 .header-content h1{
    position: relative;
    left: -140px;
 }
 .header-content h3{
    position: relative;
    left: -140px;
 }
 .header-content p{
    position: relative;
    left: -140px;
 }
 .header-content input{
    width: 80%;
    padding: 10px;
 }
 .header-content input{
    position: relative;
    left: -140px;
 }
 .header-content button{
    position: relative;
    left: -140px;
 }
 .header-content button{
    
   
    width: 150px;
    height: 59px;
    font-weight: 700;
    margin-top: 30px;
    background: #db0001;
    color: #fff;
   
    font-size: 16px;
    border-radius: 12px;
 }
 .header-content h1{
    font-size: 60px;
    line-height: 70px;
    font-weight: 600;
    max-width: 650px;
 }
 .header-content h3{
    font-weight: 400;
    margin-bottom: 20px;
 }

 .email-signup {
    background: #fff;
    border-radius: 4px;
    display: flex;
    align-items: center;
    margin-top: 30px;
    overflow: hidden;
 }
 .email-signup input{
    flex: 1;
    border: 0;
    outline: 0;
    margin-left: 20px;

}
.email-signup button{
    background: #db0001;
    border: 0;
    outline: 0;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    padding: 15px 30px;
}

.features{
    padding: 50px 12%;
    font-size: 22px;

}
.row{
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 0;
}
.text-col{
    flex-basis: 50%;
    margin-bottom: 20px;

}
.img-col{
    flex-basis: 50%;
    margin-bottom: 20px;


}
.img-col img{
    display: block;
    width: 90%;
    margin: auto;
}
.features h2{
    font-size: larger50px;
    font-weight: 600;
    margin-bottom: 20px;
}
.faq{
    padding: 10px 12%;
    text-align: center;
    font-size: 28px;
}
.fq h2{
    font-weight: 200;
    font-size: 40px;
    border-color: blue;
}
.accordion{
    margin: 60px auto;
    width: 100%;
    max-width: 750px;

}
.accordion li{
    list-style: none;
    width: 100%;
    padding: 5px;


}
.accordion li label{
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 18px;
    font-weight: 500;
    background: #303030;
    margin-bottom: 2px;
    cursor: pointer;
    position: relative;
}
label::after{
    content: '+';
    font-size: 34px;
    position: absolute;
    right: 20px;
    transition: transform 0.5s;
}
input[type='radio']{
    display: none;
}
.accordion .content{
    background: #303030;
    text-align: left;
   
  
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s, padding 0.5s;
}
.accordion .content p{
   margin: 2px 5px 70px 2px;
  
}




.accordion input[type='radio']:checked + label + .content{
    max-width: 800px;
    padding: 80px 20px;
}
.accordion input[type='radio']:checked + label::after{
    transform: rotate(135deg);

}
.faq .email-signup{
    max-width: 600px;
    margin: 20px auto 60px;
}
.faq small{
    font-size: 13px;
}

.main input{
    width: 40%;
    padding: 10px;


}
.main button{
    width: 110px;
    height: 39px;
    font-weight: 700;
    margin-top: 30px;
    background: #db0001;
    color: #fff;
    margin-bottom: 50px;
   
    font-size: 16px;
    border-radius: 12px;
}



.footer{
    padding: 50px 15% 10px;
    border-top: 6px solid #333;
    color: #777777;

}
.footer h2{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30pcx;
}
.footer .col{
    flex-basis: 25%;
    flex-grow: 1;
    margin-bottom: 20px;
}
.footer.col a{
    display: block;
    text-decoration: none;
    color: #777;
    font-size: 14px;
    margin-bottom: 10px;
}
.footer .row{
    align-items: flex-start;
    padding: 10px 0;
}
.copy-txt{
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.row{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;

}
.col{
   
    display: grid;
    text-decoration: none;
    
    
    
    

}
.col a{
    text-decoration: none;
    word-spacing: 2px;
    line-height: 35px;
    color: gray;

}
button{
   width: 90px;
   height: 35px;
   font-size: 15px;
   font-weight: 400;
   color: #fff;
   border: none;
   border: 1px solid gray;
   background: transparent;
}
 p{
    margin-top: 30px;
 }
@media only sreen and(max-height: 600px){
    .logo{
        width: 100px;


    }
    nav button{
        padding: 5px 10px;
    }
    .header-content{
        position: unset;
        transform: none;
        padding: 150px;

    }
    .header-content h1{
        font-size: 30px;
    }
    .email-signup button{
        font-size: 12px;
        padding: 10px 15px;

    }
    .text-col, .img-col{
        flex-basis: 100%;
    }
    .features h2{
        font-size: 30px;
    }
    .features p{
        font-size: 15px;
    }
    .row:nth-child(2), .row:nth-child(4){
        flex-direction: column-reverse;
    }
    .features .row{
        padding: 10px 0;
    }
    .faq h2{
        font-size: 20px;
    }
    .accordion .content{
        font-size: 14px;
    }
    .accordion li label{
        padding: 10px;
        font-size: 14px;
    }
    label:after{
        font-size: 22px;
    }
}